name: Debug workflow for experimentation

on: 
    workflow_dispatch

permissions:
  id-token: write
  contents: read

jobs:
  static_matrix:
    strategy:
      matrix:
        vmlist: [vm1, vm2, vm3]
    runs-on: ubuntu-latest
    steps:
      - name: run over the matrix list
        run: |
          echo ${{ matrix.vmlist }}
            
  vars_matrix:
    environment: test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        vmlist: ${{ vars.VMS }}
    steps:
      - name: run over the matrix list
        run: |
          echo ${{ matrix.vmlist }}
            
  deploy-stuff:
    name: deploy-stuff
    if: vars.DEPLOY_STUFF == 'yes'
    runs-on: ubuntu-latest
    environment: test
    steps:        
      - name: Run a simple step 1
        run: echo "vars.DEPLOY_STUFF:" ${{ vars.DEPLOY_STUFF }}

  run-steps-if-true:
    runs-on: ubuntu-latest
    environment: test
    steps:  
      - name: Run a simple step 3
        if: vars.DEPLOY_STUFF == 'yes'
        run: echo "vars.DEPLOY_STUFF:" ${{ vars.DEPLOY_STUFF }}

