name: Workflow demonstrating matrix usage

on: 
    workflow_dispatch

permissions:
  id-token: write
  contents: read

jobs:
  setvars:
    environment: test
    runs-on: ubuntu-latest
    outputs:
      testvms: ${{ steps.setvms.outputs.vms }}
    steps:      
      - name: set the VM list for subsequent jobs
        id: setvms
        run: echo 'vms=${{ vars.VMS }}' >> $GITHUB_OUTPUT

  env-matrix:
    needs: [setvars]
    environment: test
    runs-on: ubuntu-latest
    strategy:
      matrix: ${{ fromJson(needs.set-vars.outputs.testvms) }}
    steps:
      - name: print inputs
        run: echo ${{ needs.set-vars.outputs.testvms }}
      - name: run over the matrix list
        run: |
          echo ${{ matrix.vms.name }}
          echo ${{ matrix.vms.az }}